.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    font-size: 13px;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: 2;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 160px;
    height: 100px;
    background: var(--beige-color);
    border-radius: 0 0 0 50px;
    z-index: 2;
}
.header .container {
    padding: 29px 60px 31px;
    max-width: none;
}
.header__container {
    justify-content: space-between;
    gap: 60px;
}
.header__nav-bar {
    position: relative;
    z-index: 10;
    gap: 70px;
}
.header-nav-bar__logo {
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.64286;
    letter-spacing: 0.07em;
    gap: 10px;
    position: relative;
    z-index: 10;
}
.header-nav-bar__logo_s {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--title-dark-color);
    color: var(--white-color);
    font-size: 0.75rem;
    text-align: center;
    gap: 10px;
}
.header-nav__list {
    gap: 70px;
}
.header-nav__item {
    padding: 10px 0;
    background-color: var(--white-color);
}
.nav-item-work, .nav-item-library, .nav-item-pricing {
    position: relative;
    background-color: var(--white-color);
}
.header-nav__link {
    gap: 6px;
    border: none;
    background-color: transparent;
    color: var(--desc-color-text);
}
.header__arrow {
    display: block;
    width: 20px;
    height: 20px;
    transition: var(--transition-properties);
}
.header-nav__item._open 
.header__arrow {
    transform: rotateZ(180deg);
}
.header-nav__inner-list {
    padding: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 90px;
    background-color: var(--white-color);
    box-shadow: 0.2px 0.3px 0.4px;
    font-size: 0.75rem;
    line-height: 1.2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-properties);
    transform: translate(0, -10%);
}
.header-nav__item:not(.nav-item-registration)._open 
.header-nav__inner-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
}
.header-nav__inner-item:not(:last-child) {
    margin-bottom: 12px;
}
.header-nav__inner-link {
    color: inherit;
}
.header__registration {
    position: relative;
    gap: 121px;
}
.header-registration__link {
    position: relative;
    color: var(--brown-text-color);
    font-weight: 600;
    z-index: 30;
}